.sp {
  display: none !important; }

/*-- Width --*/
.WAuto {
  width: auto !important; }

/*-- Margin --*/
.M0 {
  margin: 0 !important; }
.MA {
  margin: auto !important; }
.MTA {
  margin-top: auto !important; }
.MRA {
  margin-right: auto !important; }
.MBA {
  margin-bottom: auto !important; }
.MLA {
  margin-left: auto !important; }

/*-- Padding --*/
.P0 {
  padding: 0 !important; }
.PA {
  padding: auto !important; }
.PTA {
  padding-top: auto !important; }
.PRA {
  padding-right: auto !important; }
.PBA {
  padding-bottom: auto !important; }
.PLA {
  padding-left: auto !important; }

/*-- Font --*/
.fz6 {
  font-size: 6px; }

.fz6R {
  font-size: 0.6rem; }

.fz7 {
  font-size: 7px; }

.fz7R {
  font-size: 0.7rem; }

.fz8 {
  font-size: 8px; }

.fz8R {
  font-size: 0.8rem; }

.fz9 {
  font-size: 9px; }

.fz9R {
  font-size: 0.9rem; }

.fz10 {
  font-size: 10px; }

.fz10R {
  font-size: 1rem; }

.fz11 {
  font-size: 11px; }

.fz11R {
  font-size: 1.1rem; }

.fz12 {
  font-size: 12px; }

.fz12R {
  font-size: 1.2rem; }

.fz13 {
  font-size: 13px; }

.fz13R {
  font-size: 1.3rem; }

.fz14 {
  font-size: 14px; }

.fz14R {
  font-size: 1.4rem; }

.fz15 {
  font-size: 15px; }

.fz15R {
  font-size: 1.5rem; }

.fz16 {
  font-size: 16px; }

.fz16R {
  font-size: 1.6rem; }

.fz17 {
  font-size: 17px; }

.fz17R {
  font-size: 1.7rem; }

.fz18 {
  font-size: 18px; }

.fz18R {
  font-size: 1.8rem; }

.fz19 {
  font-size: 19px; }

.fz19R {
  font-size: 1.9rem; }

.fz20 {
  font-size: 20px; }

.fz20R {
  font-size: 2rem; }

.fz21 {
  font-size: 21px; }

.fz21R {
  font-size: 2.1rem; }

.fz22 {
  font-size: 22px; }

.fz22R {
  font-size: 2.2rem; }

.fz23 {
  font-size: 23px; }

.fz23R {
  font-size: 2.3rem; }

.fz24 {
  font-size: 24px; }

.fz24R {
  font-size: 2.4rem; }

.fz25 {
  font-size: 25px; }

.fz25R {
  font-size: 2.5rem; }

.fz26 {
  font-size: 26px; }

.fz26R {
  font-size: 2.6rem; }

.fz27 {
  font-size: 27px; }

.fz27R {
  font-size: 2.7rem; }

.fz28 {
  font-size: 28px; }

.fz28R {
  font-size: 2.8rem; }

.fz29 {
  font-size: 29px; }

.fz29R {
  font-size: 2.9rem; }

.fz30 {
  font-size: 30px; }

.fz30R {
  font-size: 3rem; }

.fwB {
  font-weight: bold !important; }
.fwN {
  font-weight: normal !important; }

.lh8 {
  line-height: 0.8 !important; }

.lh9 {
  line-height: 0.9 !important; }

.lh10 {
  line-height: 1 !important; }

.lh11 {
  line-height: 1.1 !important; }

.lh12 {
  line-height: 1.2 !important; }

.lh13 {
  line-height: 1.3 !important; }

.lh14 {
  line-height: 1.4 !important; }

.lh15 {
  line-height: 1.5 !important; }

.lh16 {
  line-height: 1.6 !important; }

.lh17 {
  line-height: 1.7 !important; }

.lh18 {
  line-height: 1.8 !important; }

.lh19 {
  line-height: 1.9 !important; }

.lh20 {
  line-height: 2 !important; }

.lh21 {
  line-height: 2.1 !important; }

.lh22 {
  line-height: 2.2 !important; }

.lh23 {
  line-height: 2.3 !important; }

.lh24 {
  line-height: 2.4 !important; }

.lh25 {
  line-height: 2.5 !important; }

.lh26 {
  line-height: 2.6 !important; }

.lh27 {
  line-height: 2.7 !important; }

.lh28 {
  line-height: 2.8 !important; }

.lh29 {
  line-height: 2.9 !important; }

.lh30 {
  line-height: 3 !important; }

/*-- Etc --*/
.disI {
  display: inline !important; }
.disB {
  display: block !important; }
.disIB {
  display: inline-block !important; }
.disT {
  display: table !important; }
.disTC {
  display: table-cell !important; }
.disN {
  display: none !important; }
.disF {
  display: flex !important; }

.taL {
  text-align: left !important; }
.taR {
  text-align: right !important; }
.taC {
  text-align: center !important; }

.vaT {
  vertical-align: top !important; }
.vaM {
  vertical-align: middle !important; }
.vaB {
  vertical-align: bottom !important; }
.vaTB {
  vertical-align: text-bottom !important; }

.fltL {
  float: left !important; }
.fltR {
  float: right !important; }
.fltN {
  float: none !important; }

.posS {
  position: static !important; }
.posR {
  position: relative !important; }
.posA {
  position: absolute !important; }
.posF {
  position: fixed !important; }

.brWord {
  word-wrap: break-word; }

.waNw {
  white-space: nowrap; }

.printDown {
  display: none; }

.printBreak {
  display: none; }

@media screen and (max-width: 767px) {
  .pc {
    display: none !important; }

  /*-- Width --*/
  .spWAuto {
    width: auto !important; }

  /*-- Margin --*/
  .spM0 {
    margin: 0 !important; }
  .spMA {
    margin: auto !important; }
  .spMTA {
    margin-top: auto !important; }
  .spMRA {
    margin-right: auto !important; }
  .spMBA {
    margin-bottom: auto !important; }
  .spMLA {
    margin-left: auto !important; }
  .spMT0 {
    margin-top: 0 !important; }
  .spMB0 {
    margin-bottom: 0 !important; }

  /*-- Padding --*/
  .spP0 {
    padding: 0 !important; }
  .spPA {
    padding: auto !important; }
  .spPTA {
    padding-top: auto !important; }
  .spPRA {
    padding-right: auto !important; }
  .spPBA {
    padding-bottom: auto !important; }
  .spPLA {
    padding-left: auto !important; }

  /*-- Font --*/
  .spFz6 {
    font-size: 6px; }

  .spFz6R {
    font-size: 0.6rem; }

  .spFz7 {
    font-size: 7px; }

  .spFz7R {
    font-size: 0.7rem; }

  .spFz8 {
    font-size: 8px; }

  .spFz8R {
    font-size: 0.8rem; }

  .spFz9 {
    font-size: 9px; }

  .spFz9R {
    font-size: 0.9rem; }

  .spFz10 {
    font-size: 10px; }

  .spFz10R {
    font-size: 1rem; }

  .spFz11 {
    font-size: 11px; }

  .spFz11R {
    font-size: 1.1rem; }

  .spFz12 {
    font-size: 12px; }

  .spFz12R {
    font-size: 1.2rem; }

  .spFz13 {
    font-size: 13px; }

  .spFz13R {
    font-size: 1.3rem; }

  .spFz14 {
    font-size: 14px; }

  .spFz14R {
    font-size: 1.4rem; }

  .spFz15 {
    font-size: 15px; }

  .spFz15R {
    font-size: 1.5rem; }

  .spFz16 {
    font-size: 16px; }

  .spFz16R {
    font-size: 1.6rem; }

  .spFz17 {
    font-size: 17px; }

  .spFz17R {
    font-size: 1.7rem; }

  .spFz18 {
    font-size: 18px; }

  .spFz18R {
    font-size: 1.8rem; }

  .spFz19 {
    font-size: 19px; }

  .spFz19R {
    font-size: 1.9rem; }

  .spFz20 {
    font-size: 20px; }

  .spFz20R {
    font-size: 2rem; }

  .spFz21 {
    font-size: 21px; }

  .spFz21R {
    font-size: 2.1rem; }

  .spFz22 {
    font-size: 22px; }

  .spFz22R {
    font-size: 2.2rem; }

  .spFz23 {
    font-size: 23px; }

  .spFz23R {
    font-size: 2.3rem; }

  .spFz24 {
    font-size: 24px; }

  .spFz24R {
    font-size: 2.4rem; }

  .spFz25 {
    font-size: 25px; }

  .spFz25R {
    font-size: 2.5rem; }

  .spFz26 {
    font-size: 26px; }

  .spFz26R {
    font-size: 2.6rem; }

  .spFz27 {
    font-size: 27px; }

  .spFz27R {
    font-size: 2.7rem; }

  .spFz28 {
    font-size: 28px; }

  .spFz28R {
    font-size: 2.8rem; }

  .spFz29 {
    font-size: 29px; }

  .spFz29R {
    font-size: 2.9rem; }

  .spFz30 {
    font-size: 30px; }

  .spFz30R {
    font-size: 3rem; }

  .spFwB {
    font-weight: bold !important; }
  .spFwN {
    font-weight: normal !important; }

  .spLh8 {
    line-height: 0.8 !important; }

  .spLh9 {
    line-height: 0.9 !important; }

  .spLh10 {
    line-height: 1 !important; }

  .spLh11 {
    line-height: 1.1 !important; }

  .spLh12 {
    line-height: 1.2 !important; }

  .spLh13 {
    line-height: 1.3 !important; }

  .spLh14 {
    line-height: 1.4 !important; }

  .spLh15 {
    line-height: 1.5 !important; }

  .spLh16 {
    line-height: 1.6 !important; }

  .spLh17 {
    line-height: 1.7 !important; }

  .spLh18 {
    line-height: 1.8 !important; }

  .spLh19 {
    line-height: 1.9 !important; }

  .spLh20 {
    line-height: 2 !important; }

  .spLh21 {
    line-height: 2.1 !important; }

  .spLh22 {
    line-height: 2.2 !important; }

  .spLh23 {
    line-height: 2.3 !important; }

  .spLh24 {
    line-height: 2.4 !important; }

  .spLh25 {
    line-height: 2.5 !important; }

  .spLh26 {
    line-height: 2.6 !important; }

  .spLh27 {
    line-height: 2.7 !important; }

  .spLh28 {
    line-height: 2.8 !important; }

  .spLh29 {
    line-height: 2.9 !important; }

  .spLh30 {
    line-height: 3 !important; }

  /*-- Etc --*/
  .spDisI {
    display: inline !important; }
  .spDisB {
    display: block !important; }
  .spDisIB {
    display: inline-block !important; }
  .spDisT {
    display: table !important; }
  .spDisTC {
    display: table-cell !important; }
  .spDisN {
    display: none !important; }
  .spDisF {
    display: flex !important; }

  .spTaL {
    text-align: left !important; }
  .spTaR {
    text-align: right !important; }
  .spTaC {
    text-align: center !important; }

  .spVaT {
    vertical-align: top !important; }
  .spVaM {
    vertical-align: middle !important; }
  .spVaB {
    vertical-align: bottom !important; }
  .spVaTB {
    vertical-align: text-bottom !important; }

  .spFltL {
    float: left !important; }
  .spFltR {
    float: right !important; }
  .spFltN {
    float: none !important; }

  .spPosS {
    position: static !important; }
  .spPosR {
    position: relative !important; }
  .spPosA {
    position: absolute !important; }
  .spPosF {
    position: fixed !important; }

  .ffNS {
    font-family: "Noto Sans Japanese"; } }
