@charset "UTF-8";
/*--------------------------------------
 フッター
---------------------------------------*/
.footer .ftNavs {
  background-color: #F2F2F2;
  padding: 75px 0 55px; }
  @media screen and (max-width: 768px) {
    .footer .ftNavs {
      padding: 8vw 0 5.3333333333vw; } }
  .footer .ftNavs .u-inner {
    max-width: 790px; }
    @media screen and (max-width: 768px) {
      .footer .ftNavs .u-inner {
        padding-left: 13.3333333333vw; } }
  .footer .ftNavs nav {
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 768px) {
      .footer .ftNavs nav {
        flex-direction: column; } }
    .footer .ftNavs nav a {
      display: inline-block;
      width: 20%;
      margin-bottom: 24px;
      padding: 0 10px 0 30px;
      color: #4F4F4F;
      font-size: 1.5rem;
      position: relative;
      box-sizing: border-box;
      transition: 0.3s; }
      .footer .ftNavs nav a:hover {
        opacity: 0.7;
        text-decoration: none; }
      .footer .ftNavs nav a:last-child {
        width: auto; }
      .footer .ftNavs nav a:before {
        content: "";
        display: block;
        width: 0.6em;
        height: 0.6em;
        margin: auto;
        border-right: 3px solid #4F4F4F;
        border-bottom: 3px solid #4F4F4F;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateY(-0.1em) rotate(-45deg); }
      @media screen and (max-width: 768px) {
        .footer .ftNavs nav a {
          width: auto;
          margin-bottom: 4.8vw;
          padding: 0 0 0 8vw;
          font-size: 1.1rem; } }
.footer .ftInfo {
  background-color: #3B3561;
  margin-top: 0;
  padding: 44px 12px 29px;
  color: #fff;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .footer .ftInfo {
      padding: 10.6666666667vw 3.2vw 2.6666666667vw; } }
  .footer .ftInfo .ftLogo {
    width: 192px;
    margin: auto; }
    @media screen and (max-width: 768px) {
      .footer .ftInfo .ftLogo {
        width: 51.2vw; } }
  .footer .ftInfo .copyright {
    margin-top: -10px;
    font-size: 1.8rem;
    text-align: right; }
    @media screen and (max-width: 768px) {
      .footer .ftInfo .copyright {
        margin-top: 7.2vw;
        font-size: 0.9rem;
        text-align: center; } }
