@charset "UTF-8";
/*--------------------------------------
 ヘッダー
---------------------------------------*/
.header {
  padding: 65px 0 40px; }
  @media screen and (min-width: 768px) and (max-width: 1392px) {
    .header {
      padding-top: 4.6695402299vw;
      padding-bottom: 2.8735632184vw; } }
  @media screen and (max-width: 767px) {
    .header {
      padding: 8.5333333333vw 0 5.6vw; } }
  .header .u-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1368px; }
    @media screen and (max-width: 767px) {
      .header .u-inner {
        padding-left: 25px;
        padding-right: 25px; } }
    .header .u-inner .hdLogo {
      width: 280px;
      max-width: 20.4678362573%; }
      @media screen and (max-width: 767px) {
        .header .u-inner .hdLogo {
          width: 53.3333333333vw;
          max-width: none; } }
      .header .u-inner .hdLogo a {
        display: block;
        transition: 0.3s; }
        .header .u-inner .hdLogo a:hover {
          opacity: 0.7;
          text-decoration: none; }
    .header .u-inner .hdMenus {
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 74.7807017544%; }
      @media screen and (min-width: 768px) {
        .header .u-inner .hdMenus {
          display: flex !important; } }
      @media screen and (max-width: 767px) {
        .header .u-inner .hdMenus {
          display: none;
          background-color: rgba(46, 46, 46, 0.95);
          width: 100%;
          padding: 23px 25px 33px;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2; } }
      .header .u-inner .hdMenus .etc {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-shrink: 0;
        width: 263px;
        margin-left: 16px; }
        @media screen and (min-width: 768px) and (max-width: 1392px) {
          .header .u-inner .hdMenus .etc {
            width: 18.8936781609vw;
            margin-left: 0.7183908046vw; } }
        @media screen and (max-width: 767px) {
          .header .u-inner .hdMenus .etc {
            flex-direction: column-reverse;
            width: auto;
            margin-left: 0;
            padding-bottom: 5.6vw;
            border-bottom: 1px dotted #4F4F4F; } }
        .header .u-inner .hdMenus .etc .searchBox {
          line-height: 1; }
          .header .u-inner .hdMenus .etc .searchBox form {
            display: flex; }
            .header .u-inner .hdMenus .etc .searchBox form button {
              display: block;
              flex-shrink: 0;
              background-color: #009FB7;
              width: 63px;
              height: 26px;
              color: #fff;
              font-size: 1.2rem;
              position: relative;
              cursor: pointer;
              line-height: 1;
              transition: 0.3s; }
              .header .u-inner .hdMenus .etc .searchBox form button:hover {
                opacity: 0.7;
                text-decoration: none; }
              .header .u-inner .hdMenus .etc .searchBox form button i {
                display: block;
                width: 12px;
                position: absolute;
                top: 6px;
                left: 8px; }
              .header .u-inner .hdMenus .etc .searchBox form button span {
                display: block;
                white-space: nowrap;
                position: absolute;
                top: 7px;
                left: 26px; }
              @media screen and (min-width: 768px) and (max-width: 1392px) {
                .header .u-inner .hdMenus .etc .searchBox form button {
                  width: 4.525862069vw;
                  height: 1.867816092vw;
                  font-size: 0.8620689655vw; }
                  .header .u-inner .hdMenus .etc .searchBox form button i {
                    width: 0.8620689655vw;
                    top: 0.4310344828vw;
                    left: 0.5747126437vw; }
                  .header .u-inner .hdMenus .etc .searchBox form button span {
                    top: 0.5028735632vw;
                    left: 1.867816092vw; } }
              @media screen and (max-width: 767px) {
                .header .u-inner .hdMenus .etc .searchBox form button {
                  width: 16.8vw;
                  height: 6.9333333333vw; }
                  .header .u-inner .hdMenus .etc .searchBox form button i {
                    width: 3.2vw;
                    top: 1.6vw;
                    left: 2.4vw; }
                  .header .u-inner .hdMenus .etc .searchBox form button span {
                    top: 2.1333333333vw;
                    left: 7.2vw; } }
            .header .u-inner .hdMenus .etc .searchBox form .txt {
              display: block;
              width: 100%;
              height: 26px;
              margin-left: 7px; }
              .header .u-inner .hdMenus .etc .searchBox form .txt input {
                background-color: #fff;
                width: 100%;
                height: 100%;
                padding: 0 8px;
                border: 1px solid #BDBDBD;
                border-radius: 0;
                box-sizing: border-box; }
              @media screen and (min-width: 768px) and (max-width: 1392px) {
                .header .u-inner .hdMenus .etc .searchBox form .txt {
                  height: 1.867816092vw; } }
              @media screen and (max-width: 767px) {
                .header .u-inner .hdMenus .etc .searchBox form .txt {
                  width: 51.2vw;
                  height: 6.9333333333vw;
                  margin-left: 2.9333333333vw; }
                  .header .u-inner .hdMenus .etc .searchBox form .txt input {
                    padding: 0 2.1333333333vw; } }
        .header .u-inner .hdMenus .etc .btns {
          display: flex;
          justify-content: space-between;
          line-height: 1; }
          @media screen and (max-width: 767px) {
            .header .u-inner .hdMenus .etc .btns {
              flex-direction: column-reverse;
              padding-bottom: 5.6vw; } }
          .header .u-inner .hdMenus .etc .btns > * {
            width: 48%; }
          .header .u-inner .hdMenus .etc .btns a {
            display: block;
            transition: 0.3s; }
            .header .u-inner .hdMenus .etc .btns a:hover {
              opacity: 0.7;
              text-decoration: none; }
          .header .u-inner .hdMenus .etc .btns .inq {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #3B3561;
            color: #fff;
            font-size: 1.25rem; }
            @media screen and (min-width: 768px) and (max-width: 1392px) {
              .header .u-inner .hdMenus .etc .btns .inq {
                font-size: 0.8979885057vw; } }
            @media screen and (max-width: 767px) {
              .header .u-inner .hdMenus .etc .btns .inq {
                width: 33.0666666667vw;
                padding: 1.6vw 0;
                border: 0.2666666667vw solid #fff; } }
            .header .u-inner .hdMenus .etc .btns .inq i {
              display: block;
              width: 16.5px;
              margin-right: 10.5px; }
              @media screen and (min-width: 768px) and (max-width: 1392px) {
                .header .u-inner .hdMenus .etc .btns .inq i {
                  width: 1.1494252874vw; } }
              @media screen and (max-width: 767px) {
                .header .u-inner .hdMenus .etc .btns .inq i {
                  width: 4.4vw; } }
          .header .u-inner .hdMenus .etc .btns .lng {
            background-color: #fff;
            color: #DD7373;
            font-size: 1.4rem; }
            @media screen and (min-width: 768px) and (max-width: 1392px) {
              .header .u-inner .hdMenus .etc .btns .lng {
                font-size: 1.0057471264vw; } }
            @media screen and (max-width: 767px) {
              .header .u-inner .hdMenus .etc .btns .lng {
                background-color: transparent;
                width: auto;
                padding-bottom: 5.0666666667vw; } }
            .header .u-inner .hdMenus .etc .btns .lng .btn {
              padding: 6px 16px 6px 37px;
              border: 1px solid #DD7373;
              position: relative; }
              @media screen and (min-width: 768px) and (max-width: 1392px) {
                .header .u-inner .hdMenus .etc .btns .lng .btn {
                  padding-left: 2.658045977vw; } }
              @media screen and (max-width: 767px) {
                .header .u-inner .hdMenus .etc .btns .lng .btn {
                  display: none; } }
              .header .u-inner .hdMenus .etc .btns .lng .btn i {
                display: block;
                width: 10px;
                height: 10px;
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 13px; }
                .header .u-inner .hdMenus .etc .btns .lng .btn i:before {
                  content: "";
                  display: block;
                  width: 68%;
                  height: 68%;
                  border-bottom: 2px solid #DD7373;
                  border-left: 2px solid #DD7373;
                  transform: translate(20%, -20%) rotate(-45deg); }
                @media screen and (min-width: 768px) and (max-width: 1392px) {
                  .header .u-inner .hdMenus .etc .btns .lng .btn i {
                    left: 0.933908046vw; } }
              .header .u-inner .hdMenus .etc .btns .lng .btn.show i:before, .header .u-inner .hdMenus .etc .btns .lng .btn.show i:after {
                width: 141.421356237%;
                height: 141.421356237%;
                border-bottom: 2px solid #DD7373;
                position: absolute;
                top: 0; }
              .header .u-inner .hdMenus .etc .btns .lng .btn.show i:before {
                border-left: none;
                left: 0;
                transform: translate(-50%, -50%) rotate(-45deg); }
              .header .u-inner .hdMenus .etc .btns .lng .btn.show i:after {
                content: "";
                display: block;
                right: 0;
                transform: translate(50%, -50%) rotate(45deg); }
            .header .u-inner .hdMenus .etc .btns .lng .lngs {
              position: relative;
              z-index: 1; }
              @media screen and (max-width: 767px) {
                .header .u-inner .hdMenus .etc .btns .lng .lngs {
                  padding: 0 18.6666666667vw 4.8vw 0;
                  border-bottom: 1px dotted #4F4F4F; } }
              .header .u-inner .hdMenus .etc .btns .lng .lngs span {
                display: none;
                background-color: #fff;
                width: 100%;
                padding: 19px 0 16px;
                font-size: 1.25rem;
                border: 1px solid #DD7373;
                box-sizing: border-box;
                position: absolute;
                top: -1px;
                left: 0; }
                @media screen and (min-width: 768px) and (max-width: 1392px) {
                  .header .u-inner .hdMenus .etc .btns .lng .lngs span {
                    padding-top: 1.3649425287vw;
                    padding-bottom: 1.1494252874vw;
                    font-size: 0.8979885057vw; } }
                @media screen and (max-width: 767px) {
                  .header .u-inner .hdMenus .etc .btns .lng .lngs span {
                    display: block !important;
                    background-color: transparent;
                    padding: 0;
                    border: none;
                    position: static; } }
              .header .u-inner .hdMenus .etc .btns .lng .lngs a {
                padding-left: 37px; }
                .header .u-inner .hdMenus .etc .btns .lng .lngs a + a {
                  margin-top: 0.96em; }
                @media screen and (max-width: 767px) {
                  .header .u-inner .hdMenus .etc .btns .lng .lngs a {
                    display: inline-block;
                    background-color: #fff;
                    width: 15.7333333333vw;
                    height: 6.9333333333vw;
                    margin-bottom: 2.1333333333vw;
                    padding: 0;
                    text-align: center;
                    line-height: 2.08;
                    border: 0.4vw solid #DD7373; }
                    .header .u-inner .hdMenus .etc .btns .lng .lngs a + a {
                      margin-top: 0; } }
      .header .u-inner .hdMenus .nav_btn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center; }
        @media screen and (max-width: 767px) {
          .header .u-inner .hdMenus .nav_btn {
            display: block; } }
        .header .u-inner .hdMenus .nav_btn .hdNav {
          display: flex;
          width: 100%;
          text-align: center; }
          @media screen and (max-width: 767px) {
            .header .u-inner .hdMenus .nav_btn .hdNav {
              display: block;
              padding: 8vw 0;
              border-bottom: 1px dotted #4F4F4F; } }
          .header .u-inner .hdMenus .nav_btn .hdNav a {
            width: 20%;
            padding: 0 5px;
            color: #2E2E2E;
            border-left: 1px solid #BDBDBD;
            box-sizing: border-box;
            transition: 0.3s; }
            .header .u-inner .hdMenus .nav_btn .hdNav a:hover {
              opacity: 0.7;
              text-decoration: none; }
            .header .u-inner .hdMenus .nav_btn .hdNav a i {
              display: block;
              width: 33px;
              margin: 0 auto 14px; }
            .header .u-inner .hdMenus .nav_btn .hdNav a p {
              font-size: 1.7rem; }
            @media screen and (min-width: 768px) and (max-width: 1392px) {
              .header .u-inner .hdMenus .nav_btn .hdNav a p {
                font-size: 1.0775862069vw; } }
            @media screen and (max-width: 767px) {
              .header .u-inner .hdMenus .nav_btn .hdNav a {
                display: flex;
                align-items: center;
                width: auto;
                padding: 0;
                color: #fff;
                text-align: left;
                border-left: none; }
                .header .u-inner .hdMenus .nav_btn .hdNav a + a {
                  margin-top: 5.6vw; }
                .header .u-inner .hdMenus .nav_btn .hdNav a i {
                  width: 8.8vw;
                  margin: 0 5.6vw 0 0; } }
        .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku {
          flex-shrink: 0;
          width: 20.564516129%;
          color: #fff; }
          @media screen and (max-width: 767px) {
            .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku {
              width: auto;
              margin-top: 5.6vw; } }
          .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F2A541;
            height: 100%;
            padding: 0 10px;
            transition: 0.3s; }
            .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a:hover {
              opacity: 0.7;
              text-decoration: none; }
            .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a i {
              display: block;
              width: 42px; }
            .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a p {
              margin-left: 8px;
              font-size: 1.55rem; }
            @media screen and (min-width: 768px) and (max-width: 1392px) {
              .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a p {
                font-size: 1.1494252874vw; }
                .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a p br {
                  display: none; } }
            @media screen and (max-width: 767px) {
              .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a {
                padding: 4.8vw; }
                .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a i {
                  width: 11.2vw; }
                .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a p {
                  margin-left: 2.1333333333vw;
                  font-size: 1.6rem; } }
    .header .u-inner .btnSpMenu {
      display: none; }
      @media screen and (max-width: 767px) {
        .header .u-inner .btnSpMenu {
          display: block;
          width: 7.7333333333vw;
          position: absolute;
          top: 9.0666666667vw;
          right: 7.2vw;
          z-index: 2; } }
      .header .u-inner .btnSpMenu .icnCls {
        display: none; }
      .header .u-inner .btnSpMenu span {
        display: block;
        margin-top: 5.5px;
        color: #3B3561; }
        @media screen and (max-width: 767px) {
          .header .u-inner .btnSpMenu span {
            font-size: 2.5333333333vw;
            letter-spacing: 0.03em; } }
      .header .u-inner .btnSpMenu.show .icnCls {
        display: block; }
      .header .u-inner .btnSpMenu.show .icnBar {
        display: none; }
      .header .u-inner .btnSpMenu.show span {
        color: #fff; }
