@charset "UTF-8";
/* CSS Document */
/* リセット
---------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%; }

fieldset, img {
  border: 0;
  vertical-align: top; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

br {
  letter-spacing: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%; }

/* ページ共通
---------------------------------------------------- */
html {
  color: #000;
  font-size: 10px;
  letter-spacing: 0.05em; }
  @media screen and (max-width: 767px) {
    html {
      font-size: 3.125vw; } }

body {
  margin: 0;
  padding: 0;
  font: 10px/1.4 "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; }
  @media screen and (max-width: 767px) {
    body {
      -webkit-text-size-adjust: 100%; } }

*:first-child + html body {
  font-size: 87%; }

hr {
  border: none; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

.clearfix:after {
  content: ".";
  /* 新しい要素を作る */
  display: block;
  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*\*/
     /*/
height: auto;
overflow: hidden;
/**/ }

.clear {
  clear: both; }

.none {
  margin: 0;
  padding: 0;
  border: none; }

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#cbox2Overlay {
  opacity: 0.8 !important; }

#colorbox, #cbox2Overlay, #cbox2Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cbox2Overlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cbox2MiddleLeft, #cbox2BottomLeft {
  clear: left; }

#cbox2Content {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px; }

#cbox2LoadedContent {
  overflow: auto; }

#cbox2LoadedContent iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0; }

#cbox2Title {
  margin: 0; }

#cbox2LoadingOverlay, #cbox2LoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

#cbox2Previous, #cbox2Next, #cbox2Close, #cbox2Slideshow {
  cursor: pointer; }

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cbox2Overlay {
  background: black url(//deagostini.jp/site/common/overlay.png) 0 0 repeat; }

#cbox2TopLeft {
  width: 21px;
  height: 21px;
  background: none -100px 0 no-repeat; }

#cbox2TopRight {
  width: 21px;
  height: 21px;
  background: none -129px 0 no-repeat; }

#cbox2BottomLeft {
  width: 21px;
  height: 21px;
  background: none -100px -29px no-repeat; }

#cbox2BottomRight {
  width: 21px;
  height: 21px;
  background: none -129px -29px no-repeat; }

#cbox2MiddleLeft {
  width: 21px;
  background: none left top repeat-y; }

#cbox2MiddleRight {
  width: 21px;
  background: none right top repeat-y; }

#cbox2TopCenter {
  height: 21px;
  background: none 0 0 repeat-x; }

#cbox2BottomCenter {
  height: 21px;
  background: none 0 -29px repeat-x; }

/* #cbox2Content{background:;}*/
#cbox2LoadedContent {
  margin-bottom: 28px;
  padding: 30px 60px 0px; }

#cbox2Title {
  position: absolute;
  top: 636px;
  left: 60px;
  text-align: left;
  width: 860px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000; }

#cbox2Current {
  position: absolute;
  top: 10px;
  left: 60px;
  color: #FFFFFF; }

#cbox2Slideshow {
  position: absolute;
  bottom: 3px;
  right: 30px;
  color: #FFFFFF; }

#cbox2Previous {
  left: 10px;
  transform: rotate(-135deg); }

#cbox2Next {
  right: 10px;
  transform: rotate(45deg); }

#cbox2LoadingOverlay {
  background: url(//deagostini.jp/site/common/loading_background.png) center center no-repeat; }

#cbox2LoadingGraphic {
  background: url(//deagostini.jp/site/common/loading.gif) center center no-repeat; }

#cbox2Close {
  position: absolute;
  bottom: 11px;
  right: 60px;
  background: url(../images/colorbox_close.png);
  background-position: left 4px;
  background-repeat: no-repeat;
  width: 87px;
  height: 32px;
  text-indent: -9999px;
  border: 0px;
  border-radius: 5px; }

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
#cbox2Previous,
#cbox2Next {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 0;
  text-indent: -9999px;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: #fff #fff transparent transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10000; }

#cbox2Previous:hover,
#cbox2Next:hover {
  opacity: 0.7; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: ''; }

[dir='rtl'] .slick-prev:before {
  content: ''; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: ''; }

[dir='rtl'] .slick-next:before {
  content: ''; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  display: block;
  position: absolute;
  bottom: -45px;
  width: 100%;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: none;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

@keyframes rotation1 {
  0% {
    transform: rotate(0deg) matrix(1, 0, 0, 1, 0, 0); }
  50% {
    transform: rotate(180deg) matrix(1, 0.1, 0, 1, 0, 0); }
  100% {
    transform: rotate(360deg) matrix(1, 0, 0, 1, 0, 0); } }
@keyframes rotation2 {
  0% {
    transform: rotate(0deg) matrix(1, 0, 0, 1, 0, 0); }
  50% {
    transform: rotate(180deg) matrix(1, 0.1, 0, 1, 0, 0); }
  100% {
    transform: rotate(360deg) matrix(1, 0, 0, 1, 0, 0); } }
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated4 {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated2.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated3.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated4.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -goog-ms-animation-timing-function: linear; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash {
  -webkit-animation-name: flash;
  animation-name: flash; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

/*--------------------------------------
 レイアウト
---------------------------------------*/
.header {
  padding: 20px 0; }
  .header .u-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1368px; }
    .header .u-inner .hdLogo {
      width: 280px; }
    .header .u-inner .hdMenus {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      width: 74.7807017544%; }
      .header .u-inner .hdMenus .btnSpMenuCls {
        display: none; }
      .header .u-inner .hdMenus .etc {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-shrink: 0;
        width: 263px;
        margin-left: 16px; }
        .header .u-inner .hdMenus .etc .searchBox {
          line-height: 1; }
          .header .u-inner .hdMenus .etc .searchBox form {
            display: flex; }
            .header .u-inner .hdMenus .etc .searchBox form button {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-shrink: 0;
              background-color: #009FB7;
              width: 63px;
              height: 26px;
              padding-top: 3px;
              color: #fff;
              font-size: 12px; }
              .header .u-inner .hdMenus .etc .searchBox form button i {
                display: block;
                width: 12px;
                margin-right: 6px; }
              .header .u-inner .hdMenus .etc .searchBox form button span {
                display: block;
                white-space: nowrap; }
            .header .u-inner .hdMenus .etc .searchBox form .txt {
              display: block;
              margin-left: 7px; }
              .header .u-inner .hdMenus .etc .searchBox form .txt input {
                width: 100%;
                height: 100%;
                padding: 0 8px;
                border: 1px solid #BDBDBD;
                box-sizing: border-box; }
        .header .u-inner .hdMenus .etc .btns {
          display: flex;
          justify-content: space-between;
          line-height: 1; }
          .header .u-inner .hdMenus .etc .btns > * {
            width: 48%; }
          .header .u-inner .hdMenus .etc .btns a {
            display: block;
            transition: 0.3s; }
            .header .u-inner .hdMenus .etc .btns a:hover {
              opacity: 0.7;
              text-decoration: none; }
          .header .u-inner .hdMenus .etc .btns .inq {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #3B3561;
            color: #fff;
            font-size: 12.5px; }
            .header .u-inner .hdMenus .etc .btns .inq i {
              display: block;
              width: 16.5px;
              margin-right: 10.5px; }
          .header .u-inner .hdMenus .etc .btns .lng {
            background-color: #fff;
            color: #DD7373;
            font-size: 14px; }
            .header .u-inner .hdMenus .etc .btns .lng .btn {
              padding: 6px 16px 6px 37px;
              border: 1px solid #DD7373;
              position: relative; }
              .header .u-inner .hdMenus .etc .btns .lng .btn i {
                display: block;
                width: 10px;
                height: 10px;
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 13px; }
                .header .u-inner .hdMenus .etc .btns .lng .btn i:before, .header .u-inner .hdMenus .etc .btns .lng .btn i:after {
                  content: "";
                  display: block;
                  background-color: #DD7373;
                  width: 100%;
                  height: 1px;
                  position: absolute; }
                .header .u-inner .hdMenus .etc .btns .lng .btn i:before {
                  bottom: 0;
                  transform: rotate(-45deg); }
                .header .u-inner .hdMenus .etc .btns .lng .btn i:after {
                  top: 0;
                  transform: rotate(45deg); }
            .header .u-inner .hdMenus .etc .btns .lng .lngs {
              position: relative;
              z-index: 1; }
              .header .u-inner .hdMenus .etc .btns .lng .lngs span {
                background-color: #fff;
                width: 100%;
                padding: 19px 0 16px;
                font-size: 12.5px;
                border: 1px solid #DD7373;
                border-top: none;
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0; }
              .header .u-inner .hdMenus .etc .btns .lng .lngs a {
                padding-left: 37px; }
                .header .u-inner .hdMenus .etc .btns .lng .lngs a + a {
                  margin-top: 12px; }
      .header .u-inner .hdMenus .nav_btn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center; }
        .header .u-inner .hdMenus .nav_btn .hdNav {
          display: flex;
          width: 100%;
          text-align: center; }
          .header .u-inner .hdMenus .nav_btn .hdNav a {
            width: 20%;
            padding: 0 5px;
            color: #2E2E2E;
            border-left: 1px solid #BDBDBD;
            box-sizing: border-box;
            transition: 0.3s; }
            .header .u-inner .hdMenus .nav_btn .hdNav a:hover {
              opacity: 0.7;
              text-decoration: none; }
            .header .u-inner .hdMenus .nav_btn .hdNav a i {
              display: block;
              width: 33px;
              margin: 0 auto 14px; }
            .header .u-inner .hdMenus .nav_btn .hdNav a p {
              font-size: 17px; }
        .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku {
          flex-shrink: 0;
          background-color: #F2A541;
          width: 20.564516129%;
          color: #fff; }
          .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 10px;
            transition: 0.3s; }
            .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a:hover {
              opacity: 0.7;
              text-decoration: none; }
            .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a i {
              display: block;
              width: 42px; }
            .header .u-inner .hdMenus .nav_btn .hdBtnYoyaku > a p {
              margin-left: 8px;
              font-size: 15.5px; }

.footer {
  background-color: #3B3561;
  padding: 45px 15px 21px;
  color: #fff; }
  .footer .ftLogo {
    width: 192px;
    margin: auto; }
  .footer .copyright {
    font-size: 18px;
    text-align: right; }

/*--------------------------------------
 要素
---------------------------------------*/
img {
  max-width: 100%;
  height: auto; }

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none; }

/*--------------------------------------
 パーツ
---------------------------------------*/
.u- {
  /* インナー */
  /* タイトル */
  /* テキスト */
  /* テキスト色 */
  /* 背景色 */
  /* ボタン */
  /* ラベル */
  /* アイコン */
  /* 注釈 */
  /* リスト */
  /* テーブル */
  /* リンク集 */
  /* 箱 */
  /* 状態 */ }
  .u-inner {
    max-width: 1095px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; }
    .u-inner.sz2 {
      max-width: 1000px; }
    .u-inner.sz3 {
      max-width: 800px; }
    @media screen and (max-width: 767px) {
      .u-inner {
        padding-left: 4.6875%;
        padding-right: 4.6875%; } }
  .u-ttlBox1 {
    margin-bottom: 45px;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center; }
    .u-ttlBox1 p {
      margin-top: 1em;
      font-size: 0 .u-ttlBox1 p 5em; }
    .u-ttlBox1.color1 {
      color: #F2A541; }
  .u-lead1 {
    margin-bottom: 50px;
    font-size: 1.6rem; }
  .u-txRed {
    color: red; }
  .u-bgGrey1 {
    background-color: #f0f0f0; }
  .u-btn {
    display: inline-block;
    background-color: #FFF;
    padding: 10px 17px;
    border: 1px solid #CCC;
    color: #333;
    box-shadow: 0 3px 0 #CCC;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.3s; }
    .u-btn:hover {
      opacity: 0.7;
      text-decoration: none; }
    .u-btn.withIcn {
      display: flex;
      align-items: center; }
    .u-btn.clr2 {
      background-color: #499745;
      color: #fff;
      border: none;
      box-shadow: none; }
    .u-btn.clr3 {
      background-color: #aaa;
      color: #fff;
      border: none;
      box-shadow: none; }
    .u-btn.sz2 {
      padding: 1em;
      font-size: 2.1rem; }
      @media screen and (max-width: 767px) {
        .u-btn.sz2 {
          font-size: 1.6rem; } }
    .u-btn.sz3 {
      padding: 1em 3em;
      font-size: 1.8rem; }
      @media screen and (max-width: 767px) {
        .u-btn.sz3 {
          font-size: 1.6rem; } }
    .u-btn.withArwR {
      padding-right: 2em;
      padding-left: 2em;
      position: relative; }
      .u-btn.withArwR:after {
        content: "";
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        margin: auto;
        border-style: solid;
        border-width: 1px 1px 0 0;
        border-color: #fff inherit transparent transparent;
        box-sizing: border-box;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1em; }
    @media screen and (max-width: 767px) {
      .u-btn.withArwR {
        display: block; }
        .u-btn.withArwR:after {
          right: 1em; } }
  .u-icnMail:before {
    display: none;
    font-family: "Font Awesome 5 Solid";
    content: ""; }
  .u-icnMail svg {
    margin-right: 7px;
    color: inherit; }
  .u-note1 {
    display: block;
    text-indent: -1em;
    padding-left: 1em; }
  .u-thumTxtList1 {
    display: flex;
    justify-content: space-between; }
    .u-thumTxtList1 > a {
      width: 32.0547945205%; }
      .u-thumTxtList1 > a .img {
        overflow: hidden; }
        .u-thumTxtList1 > a .img img {
          width: 100%;
          transition: transform 0.3s; }
      .u-thumTxtList1 > a .ttl {
        font-size: 1.6rem; }
      .u-thumTxtList1 > a .infos {
        display: flex; }
        .u-thumTxtList1 > a .infos .lbls {
          display: flex; }
      .u-thumTxtList1 > a:hover .img img {
        transform: scale(1.1); }
  .u-accBtn {
    cursor: pointer; }
  .u-dis_flex_block {
    display: flex; }
    @media screen and (max-width: 767px) {
      .u-dis_flex_block {
        display: block; } }

/* 状態 */
.mainSld {
  margin-bottom: 60px; }
  .mainSld .liItem a {
    display: block; }
    .mainSld .liItem a img {
      width: 100%; }

/*--------------------------------------
 プラグイン
---------------------------------------*/
/* Slick */
.slick-slider {
  margin-bottom: 0; }

.slick-dots li {
  background-color: #8c8c8c;
  width: 15px;
  height: 15px;
  margin: 0 7.5px;
  border-radius: 50%; }
  .slick-dots li.slick-active {
    background-color: #4b972b; }
  @media screen and (max-width: 767px) {
    .slick-dots li {
      width: 2.34375vw;
      height: 2.34375vw;
      margin: 0 1.171875vw; } }

.modalBox {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); }
  .modalBox .modalInner {
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 20%;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .modalBox .modalInner {
        width: 90%; } }
    .modalBox .modalInner p {
      text-align: left;
      padding: 20px 0;
      font-size: 1.5rem; }
  .modalBox .btnClose {
    display: inline-block;
    font-size: 1.5rem;
    background: #333;
    padding: 5px;
    color: #FFF; }
