@charset "UTF-8";
/* CSS Document */
/* リセット
---------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%; }

fieldset, img {
  border: 0;
  vertical-align: top; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

br {
  letter-spacing: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%; }

/* ページ共通
---------------------------------------------------- */
html {
  color: #000;
  font-size: 10px;
  letter-spacing: 0.05em; }
  @media screen and (max-width: 767px) {
    html {
      font-size: 2.6666666667vw; } }

body {
  margin: 0;
  padding: 0;
  font: 10px/1.4 "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; }
  @media screen and (max-width: 767px) {
    body {
      -webkit-text-size-adjust: 100%; } }

*:first-child + html body {
  font-size: 87%; }

hr {
  border: none; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

.clearfix:after {
  content: ".";
  /* 新しい要素を作る */
  display: block;
  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*\*/
     /*/
height: auto;
overflow: hidden;
/**/ }

.clear {
  clear: both; }

.none {
  margin: 0;
  padding: 0;
  border: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: ''; }

[dir='rtl'] .slick-prev:before {
  content: ''; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: ''; }

[dir='rtl'] .slick-next:before {
  content: ''; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  display: block;
  position: absolute;
  bottom: -45px;
  width: 100%;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: none;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

@keyframes rotation1 {
  0% {
    transform: rotate(0deg) matrix(1, 0, 0, 1, 0, 0); }
  50% {
    transform: rotate(180deg) matrix(1, 0.1, 0, 1, 0, 0); }
  100% {
    transform: rotate(360deg) matrix(1, 0, 0, 1, 0, 0); } }
@keyframes rotation2 {
  0% {
    transform: rotate(0deg) matrix(1, 0, 0, 1, 0, 0); }
  50% {
    transform: rotate(180deg) matrix(1, 0.1, 0, 1, 0, 0); }
  100% {
    transform: rotate(360deg) matrix(1, 0, 0, 1, 0, 0); } }
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated4 {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated2.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated3.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated4.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -goog-ms-animation-timing-function: linear; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash {
  -webkit-animation-name: flash;
  animation-name: flash; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

/*--------------------------------------
 レイアウト
---------------------------------------*/
/*--------------------------------------
 要素
---------------------------------------*/
img {
  max-width: 100%;
  height: auto; }

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none; }

article {
  padding-bottom: 100px; }
  @media screen and (max-width: 767px) {
    article {
      padding-bottom: 18.6666666667vw; } }

section + section {
  margin-top: 60px; }
  section + section.sec1 {
    margin-top: 40px; }
  section + section.sec2 {
    margin-top: 80px; }
  @media screen and (max-width: 767px) {
    section + section {
      margin-top: 18.6666666667vw; }
      section + section.spSec1 {
        margin-top: 23.2vw; }
      section + section.spSec2 {
        margin-top: 10.6666666667vw; } }

/*--------------------------------------
 パーツ
---------------------------------------*/
.u- {
  /* パディング */
  /* インナー */
  /* タイトル */
  /* テキスト */
  /* テキスト色 */
  /* 背景色 */
  /* ボタン */
  /* ラベル */
  /* アイコン */
  /* 注釈 */
  /* リスト */
  /* テーブル */
  /* リンク集 */
  /* 箱 */
  /* 状態 */ }
  @media screen and (max-width: 767px) {
    .u-spPd1 {
      padding-left: 3.2vw;
      padding-right: 3.2vw; } }
  .u-inner {
    max-width: 1095px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px; }
    .u-inner.sz2 {
      max-width: 1000px; }
    .u-inner.sz3 {
      max-width: 800px; }
    @media screen and (max-width: 767px) {
      .u-inner {
        padding-left: 3.2vw;
        padding-right: 3.2vw; }
        .u-inner.spType2 {
          padding-left: 0;
          padding-right: 0; } }
  .u-ttlBox1 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center; }
    .u-ttlBox1 .ttl {
      display: block; }
    .u-ttlBox1 p {
      margin-top: 25px;
      font-size: 1.6rem; }
    @media screen and (max-width: 767px) {
      .u-ttlBox1 {
        margin-bottom: 9.3333333333vw; }
        .u-ttlBox1 .ttl img {
          width: auto;
          height: 7.4666666667vw; }
        .u-ttlBox1 p {
          margin-top: 6.6666666667vw; } }
    .u-ttlBox1.color1 {
      color: #F2A541; }
    .u-ttlBox1.color2 {
      color: #009FB7; }
  .u-ttlBox2 {
    margin-bottom: 21px;
    padding: 18px 16px;
    border-radius: 3px; }
    @media screen and (max-width: 767px) {
      .u-ttlBox2 {
        margin-bottom: 5.3333333333vw;
        border-radius: 0; } }
    .u-ttlBox2.color1 {
      background-color: #3B3561; }
    @media screen and (max-width: 767px) {
      .u-ttlBox2.is_mdlCourse img {
        width: 85.3333333333vw; } }
  .u-txRed {
    color: red; }
  .u-btn {
    display: inline-block;
    transition: 0.3s; }
    .u-btn:hover {
      opacity: 0.7;
      text-decoration: none; }
    .u-btn.withIcn {
      display: flex;
      align-items: center; }
    .u-btn.color1 {
      background-color: #3B3561; }
    .u-btn.sz1 {
      padding: 14px;
      border-radius: 3px; }
      @media screen and (max-width: 767px) {
        .u-btn.sz1 {
          padding: 3.7333333333vw; } }
    .u-btn.withArwR1 {
      padding-right: 30px;
      position: relative; }
      .u-btn.withArwR1:after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: auto;
        border-style: solid;
        border-width: 2px 2px 0 0;
        border-color: #fff inherit transparent transparent;
        box-sizing: border-box;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 13px; }
      @media screen and (max-width: 767px) {
        .u-btn.withArwR1 {
          padding-right: 8vw; }
          .u-btn.withArwR1:after {
            width: 3.2vw;
            height: 3.2vw;
            right: 3.4666666667vw; } }
  .u-lbl {
    display: inline-block;
    text-align: center;
    color: #fff; }
    .u-lbl.sz1 {
      width: 4.992em;
      height: 2.3em;
      font-size: 1.5rem;
      line-height: 2.3;
      border-radius: 2px; }
    .u-lbl.color1 {
      background-color: #F2A541; }
    .u-lbl.color2 {
      background-color: #DD7373; }
    .u-lbl.color3 {
      background-color: #009FB7; }
  .u-icnMail:before {
    display: none;
    font-family: "Font Awesome 5 Solid";
    content: ""; }
  .u-icnMail svg {
    margin-right: 7px;
    color: inherit; }
  .u-thumList1 {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .u-thumList1 {
        display: block; } }
    .u-thumList1 > a {
      display: block; }
      @media screen and (max-width: 767px) {
        .u-thumList1 > a + a {
          margin-top: 3.2vw; } }
      .u-thumList1 > a .img {
        overflow: hidden; }
        .u-thumList1 > a .img img {
          width: 100%;
          transition: transform 0.3s; }
      .u-thumList1 > a:hover .img img {
        transform: scale(1.1); }
    .u-thumList1.col2 > a {
      width: 51.7307692308%; }
      @media screen and (max-width: 767px) {
        .u-thumList1.col2 > a {
          width: auto; } }
    .u-thumList1.col3 > a {
      width: 32.3076923077%; }
      @media screen and (max-width: 767px) {
        .u-thumList1.col3 > a {
          width: auto; } }
  .u-thumTxtList1 {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .u-thumTxtList1 {
        display: block; } }
    .u-thumTxtList1 > a {
      display: block; }
      @media screen and (max-width: 767px) {
        .u-thumTxtList1 > a + a {
          margin-top: 16vw; } }
      .u-thumTxtList1 > a .img {
        margin-bottom: 25px;
        overflow: hidden; }
        .u-thumTxtList1 > a .img img {
          width: 100%;
          transition: transform 0.3s; }
        @media screen and (max-width: 767px) {
          .u-thumTxtList1 > a .img {
            margin-bottom: 6.6666666667vw; } }
      .u-thumTxtList1 > a .ttl {
        margin-bottom: 10px;
        color: #333;
        font-size: 2.8rem;
        font-weight: bold; }
        @media screen and (max-width: 767px) {
          .u-thumTxtList1 > a .ttl {
            margin-bottom: 2.6666666667vw; } }
      .u-thumTxtList1 > a .infos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px; }
        @media screen and (max-width: 767px) {
          .u-thumTxtList1 > a .infos {
            margin-bottom: 2.6666666667vw; } }
        .u-thumTxtList1 > a .infos .day {
          margin-bottom: 5px;
          color: #4F4F4F;
          font-size: 2.4rem;
          line-height: 1.1666666667; }
          @media screen and (max-width: 767px) {
            .u-thumTxtList1 > a .infos .day {
              margin-bottom: 1.3333333333vw; } }
        .u-thumTxtList1 > a .infos .lbls {
          display: flex;
          margin-bottom: 5px; }
          @media screen and (max-width: 767px) {
            .u-thumTxtList1 > a .infos .lbls {
              margin-bottom: 1.3333333333vw; } }
          .u-thumTxtList1 > a .infos .lbls .u-lbl + .u-lbl {
            margin-left: 11.12px; }
            @media screen and (max-width: 767px) {
              .u-thumTxtList1 > a .infos .lbls .u-lbl + .u-lbl {
                margin-left: 2.6666666667vw; } }
      .u-thumTxtList1 > a p {
        color: #828282;
        font-size: 2.0rem;
        line-height: 1.5; }
      .u-thumTxtList1 > a .ttl,
      .u-thumTxtList1 > a .infos,
      .u-thumTxtList1 > a p {
        transition: opacity 0.3s; }
      .u-thumTxtList1 > a:hover .img img {
        transform: scale(1.1); }
      .u-thumTxtList1 > a:hover .ttl,
      .u-thumTxtList1 > a:hover .infos,
      .u-thumTxtList1 > a:hover p {
        opacity: 0.7; }
    .u-thumTxtList1.col2 > a {
      width: 49.1324200913%; }
      @media screen and (max-width: 767px) {
        .u-thumTxtList1.col2 > a {
          width: auto; } }
    .u-thumTxtList1.col3 > a {
      width: 32.0547945205%; }
      @media screen and (max-width: 767px) {
        .u-thumTxtList1.col3 > a {
          width: auto; } }
  .u-mainBox1 {
    color: #fff;
    position: relative; }
    .u-mainBox1 .bgImg {
      display: block;
      width: 100%; }
    .u-mainBox1 .boxCont {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .u-mainBox1 .in {
      padding-left: 12px;
      padding-right: 12px; }
      @media screen and (max-width: 767px) {
        .u-mainBox1 .in {
          padding-left: 3.2vw;
          padding-right: 3.2vw; } }
    .u-mainBox1.type1 .boxCont {
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 767px) {
        .u-mainBox1.type1 .boxCont {
          display: block; } }
    @media screen and (max-width: 767px) {
      .u-mainBox1.type1 .in {
        padding-top: 11.4666666667vw; } }
    .u-mainBox1.type1 .in strong {
      display: block; }
    .u-mainBox1.type1 .in .ttl p {
      margin-top: 10px;
      font-size: 1.4rem; }
      @media screen and (max-width: 767px) {
        .u-mainBox1.type1 .in .ttl p {
          margin-top: 2.6666666667vw; } }
    .u-mainBox1.type1 .in .u-btnWrap {
      margin-top: 23px;
      text-align: center; }
      @media screen and (max-width: 767px) {
        .u-mainBox1.type1 .in .u-btnWrap {
          margin-top: 5.3333333333vw;
          text-align: left; } }
  .u-.dis_flex_block {
    display: flex; }
    @media screen and (max-width: 767px) {
      .u-.dis_flex_block {
        display: block; } }

/* その他 */
.mainSld {
  padding-bottom: 80px; }
  @media screen and (max-width: 767px) {
    .mainSld {
      padding-bottom: 14.6666666667vw; } }
  .mainSld .slick-dots {
    bottom: 22px; }
    @media screen and (max-width: 767px) {
      .mainSld .slick-dots {
        bottom: 5.8666666667vw; } }
  .mainSld .liItem a {
    display: block; }
    .mainSld .liItem a img {
      width: 100%; }

.phtGalleryZone {
  background: url(../img/bg_dot_lblue.png) 0 0 repeat;
  padding-bottom: 70px; }
  @media screen and (max-width: 767px) {
    .phtGalleryZone {
      padding-bottom: 8.5333333333vw; } }
  @media screen and (max-width: 767px) {
    .phtGalleryZone .u-mainBox1 .in {
      padding-left: 9.0666666667vw; } }
  @media screen and (max-width: 767px) {
    .phtGalleryZone .u-mainBox1 .in strong img {
      width: 72.5333333333vw; } }
  .phtGalleryZone .cont .in {
    padding-left: 55px; }
    @media screen and (max-width: 767px) {
      .phtGalleryZone .cont .in {
        padding-left: 0; } }
  .phtGalleryZone .cont .infoBox {
    background-color: #fff;
    padding: 20px 22px;
    border: 1px solid #009FB7; }
    @media screen and (max-width: 767px) {
      .phtGalleryZone .cont .infoBox {
        margin-left: 3.2vw;
        margin-right: 3.2vw;
        padding: 5.3333333333vw 1.6vw; } }
    .phtGalleryZone .cont .infoBox .ttl {
      margin-bottom: 20px;
      color: #686868;
      font-size: 2.2rem; }
      @media screen and (max-width: 767px) {
        .phtGalleryZone .cont .infoBox .ttl {
          margin: 0 0 5.3333333333vw 7.2vw; } }
    .phtGalleryZone .cont .infoBox .list {
      border: 1px solid #009FB7; }
      @media screen and (max-width: 767px) {
        .phtGalleryZone .cont .infoBox .list {
          padding-left: 4vw;
          padding-right: 4vw; } }
      .phtGalleryZone .cont .infoBox .list > li + li {
        border-top: 1px dotted #009FB7; }
      .phtGalleryZone .cont .infoBox .list > li dl {
        padding: 15px; }
        @media screen and (max-width: 767px) {
          .phtGalleryZone .cont .infoBox .list > li dl {
            padding: 4vw 2.6666666667vw; } }
      .phtGalleryZone .cont .infoBox .list > li dt {
        font-size: 1.3rem; }
        .phtGalleryZone .cont .infoBox .list > li dt strong {
          color: #333;
          font-weight: bold; }
          @media screen and (max-width: 767px) {
            .phtGalleryZone .cont .infoBox .list > li dt strong {
              display: block; } }
        .phtGalleryZone .cont .infoBox .list > li dt small {
          display: inline-block;
          color: #686868; }
          @media screen and (max-width: 767px) {
            .phtGalleryZone .cont .infoBox .list > li dt small {
              display: block; } }
      .phtGalleryZone .cont .infoBox .list > li dd {
        margin-top: 5px;
        color: #828282;
        font-size: 1.1rem; }
        @media screen and (max-width: 767px) {
          .phtGalleryZone .cont .infoBox .list > li dd {
            margin-top: 1.3333333333vw; } }

/*--------------------------------------
 プラグイン
---------------------------------------*/
/* Slick */
.slick-slider {
  margin-bottom: 0; }

.slick-arrow {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  width: 38px;
  height: 59px;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 1;
  transform: translate(0);
  transition: 0.3s; }
  .slick-arrow:hover {
    opacity: 0.7;
    text-decoration: none; }
  @media screen and (max-width: 767px) {
    .slick-arrow {
      width: 4.9386666667vw;
      height: 8vw; } }
  .slick-arrow:before {
    content: normal; }
  .slick-arrow.slick-prev {
    background-image: url(../img/slk_arw1_l.png);
    left: 20px; }
    @media screen and (max-width: 767px) {
      .slick-arrow.slick-prev {
        left: 1.3333333333vw; } }
  .slick-arrow.slick-next {
    background-image: url(../img/slk_arw1_r.png);
    right: 20px; }
    @media screen and (max-width: 767px) {
      .slick-arrow.slick-next {
        right: 1.3333333333vw; } }

.slick-dots li {
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin: 0 11px;
  border-radius: 50%;
  box-sizing: border-box; }
  .slick-dots li.slick-active {
    background-color: #3B3561;
    border: 2px solid #fff; }
  @media screen and (max-width: 767px) {
    .slick-dots li {
      width: 4vw;
      height: 4vw;
      margin: 0 2.9333333333vw; } }

.modalBox {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); }
  .modalBox .modalInner {
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 20%;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .modalBox .modalInner {
        width: 90%; } }
    .modalBox .modalInner p {
      text-align: left;
      padding: 20px 0;
      font-size: 1.5rem; }
  .modalBox .btnClose {
    display: inline-block;
    font-size: 1.5rem;
    background: #333;
    padding: 5px;
    color: #FFF; }
